<div class="pomodoro-timer">
    <button class="previous" (click)="nextTimer(-1)">&lt; &lt;</button>
    <div class="timer">
        <div class="action-buttons">
            <button class="form-button primary" [class.active]="timer.active" *ngFor="let timer of pomodoroTimers" (click)="setCurrentTimer(timer)">{{timer.label}}</button>
        </div>

        <div class="time">{{ currentTime }}</div>
        <div class="start-stop">
            <button class="form-button primary" *ngIf="!timer.hasStarted()" (click)="startTimer()"> Start</button>
            <button class="form-button primary" *ngIf="timer.hasStarted()" (click)="timer.stop()">Stop</button>
        </div>

    </div>
    <button class="next" (click)="nextTimer()">&gt; &gt;</button>
</div>