<div class="task-item-container" [class.active]="this.active">
    <div class="task-item" *ngIf="!showMore">
        <p [class.done]="task.completed">{{index}} - {{task.title}}</p>
        <div class="action-button" (click)="showMoreInfo()">
            <img src="assets/icons/more.png" />
        </div>
    </div>

    <div class="more-info" *ngIf="showMore">

        <div class="form-input login-input w-100">
            <label for="txtTaskTitle">Title</label>
            <input type="text" [formControl]="titleFormControl" placeholder="Enter task title" name="txtTaskTitle">
        </div>

        <div class="form-input login-input w-100">
            <label for="txtNote">Note</label>
            <input type="text" [formControl]="noteFormControl" placeholder="Enter task note" name="txtNote">
        </div>

        <div class="btn-container">
            <button class="form-button primary w-25" (click)="save()">Save</button>
            <button class="form-button primary w-25" (click)="delete()">Delete</button>
            <button class="form-button primary w-25" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>