@import "cards";
.task-item-container {
    margin-top: 10px;
    width: 95%;
    border: 2px solid darkgray;
    padding: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .action-button {
        display: flex;
        align-items: center;
        img {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            &:hover {
                position: relative;
                left: 1px;
                top: 1px;
            }
        }
    }
}

.more-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}