@import "cards";
:host {
    width: 30%;
}

@media only screen and (max-width: 768px) {
     :host {
        width: 100%;
    }
}

.settings {
    width: 90%;
    display: block;
    height: auto;
    .timer-setting {
        width: 100%;
        .times {
            width: 100%;
        }
    }
    .btn-container>button {
        margin: 0.5em;
    }
}