<app-common-auth src='assets/images/signin.svg'>
    <h1 class="heading">Please enter your login details to continue</h1>

    <div class="form-input login-input">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter your username" name="username">
    </div>

    <div class="form-input login-input">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter your password" name="username">
    </div>

    <button class="form-button primary w-100" (click)="login()">Sign in</button>

    <p class="link">Don't have an account? <a (click)="register()">Sign up for free</a></p>
</app-common-auth>