:host {
    width: 100%;
    height: 100%;
}

.section {
    scrollbar-color: #d4aa70 #e4e4e4;
    transition: scrollbar-color 0.3s ease-out;
}

.section:hover {
    scrollbar-color: #5749d2;
}

.task {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .header {
        display: flex;
        justify-content: space-between;
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .task-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
        flex-grow: 0.8;
        .no-tasks {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(112, 110, 110);
            font-weight: bold;
            >* {
                // select all direct childs of no-tasks
                width: 150px;
                height: 150px;
            }
        }
    }
    .new-task {
        cursor: pointer;
        display: flex;
        background: lightgrey;
        color: black;
        font-weight: bold;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        margin-top: 12px;
        margin-bottom: 12px;
        &:hover {
            position: relative;
            left: 1px;
            top: 1px;
        }
    }
}