<div class="task section">
    <div class="header">
        <p>Tasks</p>
        <button><img src="assets/icons/more.png" /></button>
    </div>

    <div class="task-list">
        <div class="no-tasks" *ngIf="taskItems.length === 0">
            <p>No tasks present. click on Add Task to add a new task</p>
            <img src="assets/images/no-item.svg" alt="no-result" />
        </div>
        <div class="task-items" *ngIf="taskItems.length > 0">
            <app-task-item (taskUpdated)="taskUpdated($event, i)" (taskDeleted)="taskDeleted($event, i)" [index]="i+1" [task]="item" *ngFor="let item of taskItems; let i = index"></app-task-item>
        </div>
        <div class="new-task" (click)="addNewTask()">+ Add Task</div>
    </div>
</div>